.animationContainer {
  perspective:1000px;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  >*{
    display:none !important;
    transform-origin: 0% 50%;
    position:absolute !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0 !important;
    border-radius:0 !important;
    box-shadow:none !important;
  }
  >.in{
    display:block !important;
    z-index:1;
  }
  >.out{
    z-index:2;
    display:block !important;
  }


}
